.d-flex{
    display: flex;
}
nav{
    width: 1774px;
    margin: auto;
    padding: 26px 0;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 600;
}
.navi{
    gap: 0 48px;
}
.navi a{
    text-decoration: none;
    color: #000;
}
.icon ul{
    gap: 0 11px;
}
.none-2{
    display: none;
}
img{
    width: 100%;
}
@media(max-width: 1773px){
    nav{
        width: 100%;

    }
    .none-2{
        display: none;
    }
}
@media(max-width: 1280px){
    .navi{
        gap: 0 27px;
        padding-left: 108px;
    }
    nav{
        justify-content: space-between;
        width: 90%;
        font-size: 18px;
        font-weight: 600;
        padding: 26px 24px;
    }
    .none{
        display: none;
    }
    .none-2{
        display: none;
    }
}
@media(max-width: 768px){
    .navi{
        display: none;
    }
    nav{
        justify-content: space-between;
        font-size: 18px;
        width: 90%;
        font-size: 19px;
        font-weight: 600;
    }
    .none{
        display: none;
    }
    .none-2{
        display: block;
    }
    img{
        width: 100%;
    }
}

@media(max-width:576px){
    nav{
        font-size: 18px;
    }
    .navi{
        display: none;
    }
    .none{
        display: none;
    }
    .none-2{
        display: block;
    }
}
@media(min-width:600px){

}
@media only screen and(max-width:600px){

}
@media(max-width:576px){

}
@media(max-width:480px){
    
}
@media(max-width:368px){
    
}
@media(max-width:320px){
    
}